<footer class="container">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <p>Copyright: <b>{{ createdBy }}</b>, {{ copyright }} </p>
            </div>
            <div class="one-half column">
                <p>Loaded <b>{{ countUsers }}</b> users</p>
            </div>
        </div>
    </div>
</footer>